.card{
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faebd7;
    color: black;
    flex: auto;
    text-align: left;
    box-shadow: 0 4px 8px 0 black;
    border-color: black;
}

.campo, .valor{
    color: #16A6F5;
}

h1, h5, h6{
    color: #000000;
}